@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Sacrament Meeting Planner!</h1>
    <p>Use this app to plan your church meetings. Click on the My Meetings link to get started.</p>
   <img src="~/images/savior.jpg" class="home-img" title="The Savior Administering the Sacrament" />
</div>
